body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: white;
    color: #833ab4;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.section {
    padding: 80px 20px;
    text-align: center;
}

.gray {
    background: #f4f4f4;
}

.features-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}